<!DOCTYPE html>\

<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>main</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{% static 'assets/css/navmain.css' %}" type="text/css">
        <link href="https://fonts.googleapis.com/css2?family=Material+Icons" rel="stylesheet">
    </head>
    <body>
       
    <nav class="navmain">
	    <a href="#" class="nav-link">
		    <i class="material-icons">Home</i>
		    <span class="nav-text">Home</span>
	    </a>
        <a href="#" class="nav-link">
		    <i class="material-icons">category</i>
		    <span class="nav-text">Category</span>
	    </a>
        <a href="#" class="nav-link">
		    <i class="material-icons">basket</i>
		    <span class="nav-text">Basket</span>
	    </a>
        <a href="#" class="nav-link">
		    <i class="material-icons">profile</i>
		    <span class="nav-text">Profile</span>
	    </a>
    </nav>
        
        <script src="" async defer></script>
    </body>
</html>